.question {
  display: flex;
  font-size: 1rem;
  & + & {
    margin-top: 1em;
  }
  &__color {
    $size: 1em;
    width: $size;
    height: $size;
  }
  &__answers {
    position: relative;
    padding-right: 2em;
  }
  &__checkbox.isActive:checked ~ &__result:after {
    content: "✅";
    position: absolute;
    font-size: 2em;
  }
}
